[submodule "mysite/themes/anubis"]
	path = mysite/themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "mysite/themes/meme"]
	path = mysite/themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "mysite/themes/hugo.386"]
	path = mysite/themes/hugo.386
	url = https://gitlab.com/maxlefou/hugo.386
[submodule "mysite/themes/hugo-theme-codex"]
	path = mysite/themes/hugo-theme-codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "mysite/themes/newsroom"]
	path = mysite/themes/newsroom
	url = https://github.com/onweru/newsroom.git
[submodule "mysite/themes/hugo-swift-theme"]
	path = mysite/themes/hugo-swift-theme
	url = https://github.com/onweru/hugo-swift-theme.git
[submodule "mysite/themes/hugo-theme-tokiwa"]
	path = mysite/themes/hugo-theme-tokiwa
	url = https://github.com/heyeshuang/hugo-theme-tokiwa.git
[submodule "mysite/themes/diary"]
	path = mysite/themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "mysite/themes/rocinante"]
	path = mysite/themes/rocinante
	url = https://github.com/mavidser/hugo-rocinante.git
